.slider{
    padding: 50px;
}
button{
    font-size: 40px;
}
.slides{
    display: flex;
}
.slides>div{
    width: 20%;
    height: 100px;
    border: 10px solid green;
}

.active{
    border-color: red !important;
}